h1 {font-family: helvetica; font-size: 70px; font-weight: bold; color: white; text-align: center;}
h2 { font-family: helvetica; font-size: 32px; font-weight: bold; text-align: center;                                                 }
#content { background-image: resources\Images\the-flatiron-building.png;                                                            }

ol li { font-family: helvetica; font-size: 18px; color: white; text-align: center;}
