h1 {font-family: helvetica; font-size: 70px; font-weight: bold; color: white; text-align: center;}
h2 { font-family: helvetica; font-size: 32px; font-weight: bold; text-align: center;                                                 }
h3 { font-family: helvetica; font-size: 23px; font-weight: bold;  text-align: center;                                                                }
p { font-family: helvetica; font-size: 14px; font-weight: bold;  text-align: center;       }
a { color: white;                                                         }
footer {                                  }
nav li { display: inline;  }

.foot { color: white; font-size: 11px; font-family: helvetica;  float: left;              }

.text {font-family: helvetica; font-size: 23px; font-weight: bold; color: white;                                        }





#footer { background-color: dimgrey;                                                          }
#content { text-align: center; background-image:
url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png); }
#process {  text-align: center;                           }
#identify { text-align: center;                                 }
#understand { text-align: center;                         }
#Execute {  text-align: center;                                                  }
#newyork {  background-image:
url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);  }
#port { text-align: center;                   }
#team { text-align: center;            }
#contact {  text-align: center;           }
